{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="logo-name">Новоселецкий Максим</span>
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="/">Главная</a>
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="post-container">
        <article class="blog-post">
            <!-- Исправленный блок изображения -->
            <div class="mt-4">
                <a href="{{ url_for('render', name='/') }}" class="back-btn">
                    ← Назад к списку постов
                </a>
            </div>
            <div class="post__blocks-container">
                <div class="post__left-block">
                    {% if post.image %}
                    <div class="text-center mb-4 image-container">
                        <img src="{{ url_for('static', filename='uploads/' + post.image.split('/')[-1]) }}"
                             alt="{{ post.title }}"
                             class="post-image">
                    </div>
                </div>
                {% endif %}
                <div class="post__right-block">
                    <h1 class="blog-post-title">{{ post.title }}</h1>
                    <div class="blog-post-content">
                        {{ post.content|safe }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}